*{
    font-family: 'Lato', sans-serif;
 font-family: 'Open Sans', sans-serif;
 font-family: 'work sans' sans-serif;
}
/*header*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 0px 50px 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    margin-right: 240px;
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size:1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color:#131313;
    margin-left: 240px;
}
.Banner-content{
    max-width:800px;
    text-align: center;
    margin: 0 auto;
}
.Banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.Text-light-gray{
    color: #727272;
}
.btn-primary{
    border-radius: 8px;
background: #FF900E;
font-size:1.25rem;
padding: 20px 25px;
color: #FFF;
border: 0;
}
.img{
    margin-top: 20px;
    margin-left: 80px;
    width: 1150px;
    height: 600px;
}

/* responsive*/

@media screen and (max-width:576px) {
    header{
        padding: 10px;
    }
    nav{
        flex-direction: column;
    }
    .img{
        margin: 0;

        width: 100%;
        height: 200px;
    }
    .nav-title{
        margin: 0;
    }
    nav > ul{
        margin-left: 200px;
    }
    .btn-primary{
        margin-bottom: 10px;
    }

}

@media screen and (min-width:576px) and (max-width:992px) {
     header{
        padding: 10px;
     }  
    nav{
        flex-direction: column;
    }
    .img{
        margin: 0;
        width:100%;
        height: 300px;
    }
    .nav-title{
        margin: 0;
    }
    nav > ul{
        margin-left: 200px;
    }
    .btn-primary{
        margin-bottom: 10px;
    }
}

/*main*/

main{
    max-width: 1150px;
    margin: 70px auto ;
}
.team-container{
    display: flex;
    align-items: center;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title  .quick{
     color: #727272;
     font-weight: 500;
}
.fact-title{
    font-size: 2.8rem;
    font-weight: 700;
    color:#131313;
}
.teams-title .features-t{
    color: #FF900E;
    font-weight: 700;
}

.features{
    margin-top: 130px;
    display: flex;
    gap:100px;
}
.features .section-title{
    padding-left: 20px;
    border-left:  5px solid #FF900E;
}
.feature-content  .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.fact-card .card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 30px;
}

.fact-card{
    display: flex;
justify-content: space-around;
}
.fact-card .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 5px;
}
.fact-card .card-title{
    color: lightgray;
    font-size: 1.25rem;
    font-weight: 600;
}
.feature-img{
    padding-left: 10px;
}
.feature-img img{
    height: 90%;
    width: 708px;
    margin-left: 50px;
}
.ten-year{
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    width: 342px;
    height: 150px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;

}
.ten-year h2{
    font-size: 4rem;
    margin: 0;
}
.ten-year p{
    font-size: 1.5rem;
}
.Sponsors{
    text-align: center;
}
.sponsor-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.sponsor-container img{
    width:165px;
}
.footer-all{
    margin-left: 20px;
    width:90%;
    border: 2px dotted skyblue;
    border-radius: 8px;
background: #FFF4E7;
    text-align: center;
}

/*responsive*/
@media screen and (max-width:576px){
    .team-container , .fact-card , .sponsor-container , .features{
        flex-direction: column;
    }
    .teams-img{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:1.5rem;
    }
    .fact-card{
        padding:0;
        gap:10px;
    }
    .sponsor-container{
      align-items: center;
    }
    .sponsor-container img{
        margin-bottom: 20px;
    }
    .feature-img img{
        width: 90%;
        margin-left: 0;
    }
    .ten-year{
        position: static;
    }

}

@media screen and (min-width:576px) and (max-width:992px) {
    .team-container , .features{
        flex-direction: column;
    }
}